#Navbar{
    background-color: rgb(223,0,0);
    5eight: 110px;
    display: flex;
    justify-content: space-between;
    padding: 2% 15%;
    align-items: center;
}
#allCategoriesBtn{ 
    background-color: rgb(223,0,0);
    border: solid white;
}
#categoriesList button{
    display: block;
    font-size: 16px;
    background-color: white;
    border: none;
    margin: 10px 0;
}
#searchBar {
    width: 40%;
}
#searchBar input{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
}
#myShopBtn{
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(223,0,0);;
    border: none;
}

/*-------------HOMEPAGE MAIN-SLIDE-----------------------*/

.slide {
    width: 80%;
    border-radius: 8px;
    margin: 0% auto;
    margin-top: 50px;
}

.carousel-inner{
    border-radius: 8px;

}

/*--------------HOMEPAGE FEATURED CATEGORIES----------------------*/

.subtitle-homepage{
    margin: 5% 0 0 10%;
}
#featuredCategories{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0% auto;
    margin-top: 35px;
}
.categoryDiv a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
}               
.categoryDiv img{
    height: 150px;
    width: 180px;
    border-radius: 8px;
}
.categoryDiv h6{
    font-weight: bold;
    margin-top: 15px;
}

/*----------------CATEGORIES PAGE---------------*/

.index{
    margin: 1% 0 2% 25%;
}
#orderSelect{
    margin: 0 0 0 75%;
}
#allProducts{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 3% 0 0 25%;
}
.product-div{
    width: 270px;
    border: solid lightgrey 1px;
    border-radius: 8px;
    padding: 30px 10px 80px 10px;
    margin: 10px;
}
#prevPrice{
    text-decoration:line-through;
}
#iconPrice{
    
    font-weight: 700;
    color: rgb(223,0,0); 
}
a{
    color: black;
    text-decoration: none;
}
.product-image{
    height: 200px;
    width: 240px;
    margin: 0 0 30px 0;
}

/*-----------------DETAILS PAGE--------------------------*/

#productDetPageDiv{
    width: 75%;
    
    margin: 0% auto;
} 
#productDetPageDiv p{
    margin: 50px 0;
}
#productMainDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
#mainImg{
    height: 320px;
    margin: 30px 0;
}
#productPictures{
    display: flex;
}
#productPictures img{
    width: 130px;
    margin: 0 0 30px 30px ;
}
#priceDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#price{
    font-style: italic;
    font-size: 38px;
    font-weight: 800;
    color: rgb(223,0,0); 
    margin: 0 0 30px 0
}
#buyDiv button{
    height: 50px;
    width: 600px;
    margin: 30% 0 0 0;
}
#descriptionPicture{
    margin: 10% 0 0 0;
}
.description-text{
    margin: 15px 0;
}